# Sphinx and core extensions
sphinx>=5.0
myst-parser>=1.0.0
docstring_parser

# Theme
sphinx_book_theme

# Extensions
sphinx-design
sphinx-copybutton
sphinx_sitemap
nbsphinx>=0.9.0
ipython>=8.0.0
pygments-vsc-style