sphinx>=5.0
sphinx-gallery
myst-parser>=1.0.0
sphinx_book_theme
sphinx-copybutton
sphinx-design
sphinx-autodoc-typehints
sphinx-togglebutton
sphinxcontrib-mermaid
ipykernel
matplotlib
numpy
memory_profiler
