html[data-theme="dark"] pre { line-height: 125% !important; }
html[data-theme="dark"] td.linenos .normal { color: inherit !important; background-color: transparent !important; padding-left: 5px !important; padding-right: 5px !important; }
html[data-theme="dark"] span.linenos { color: inherit !important; background-color: transparent !important; padding-left: 5px !important; padding-right: 5px !important; }
html[data-theme="dark"] td.linenos .special { color: #000000 !important; background-color: #ffffc0 !important; padding-left: 5px !important; padding-right: 5px !important; }
html[data-theme="dark"] span.linenos.special { color: #000000 !important; background-color: #ffffc0 !important; padding-left: 5px !important; padding-right: 5px !important; }
html[data-theme="dark"] .highlight .hll { background-color: #264f78 !important; }
html[data-theme="dark"] .highlight { background: #1e1e1e !important; }
html[data-theme="dark"] .highlight .c { color: #6A9955 !important; }
html[data-theme="dark"] .highlight .err { color: #F44747 !important; }
html[data-theme="dark"] .highlight .g { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .k { color: #569CD6 !important; font-weight: bold !important; }
html[data-theme="dark"] .highlight .n { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .o { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .x { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .p { color: #D4D4D4 !important; font-weight: bold !important; }
html[data-theme="dark"] .highlight .ch { color: #6A9955 !important; }
html[data-theme="dark"] .highlight .cm { color: #6A9955 !important; }
html[data-theme="dark"] .highlight .cp { color: #6A9955 !important; }
html[data-theme="dark"] .highlight .cpf { color: #6A9955 !important; }
html[data-theme="dark"] .highlight .c1 { color: #6A9955 !important; }
html[data-theme="dark"] .highlight .cs { color: #6A9955 !important; }
html[data-theme="dark"] .highlight .gd { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .ge { color: #D4D4D4 !important; font-style: italic !important; }
html[data-theme="dark"] .highlight .ges { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .gr { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .gh { color: #D4D4D4 !important; font-weight: bold !important; }
html[data-theme="dark"] .highlight .gi { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .go { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .gp { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .gs { color: #D4D4D4 !important; font-weight: bold !important; }
html[data-theme="dark"] .highlight .gu { color: #D4D4D4 !important; font-weight: bold !important; }
html[data-theme="dark"] .highlight .gt { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .kc { color: #569CD6 !important; font-weight: bold !important; }
html[data-theme="dark"] .highlight .kd { color: #569CD6 !important; font-weight: bold !important; }
html[data-theme="dark"] .highlight .kn { color: #569CD6 !important; font-weight: bold !important; }
html[data-theme="dark"] .highlight .kp { color: #569CD6 !important; font-weight: bold !important; }
html[data-theme="dark"] .highlight .kr { color: #569CD6 !important; font-weight: bold !important; }
html[data-theme="dark"] .highlight .kt { color: #569CD6 !important; font-weight: bold !important; }
html[data-theme="dark"] .highlight .m { color: #B5CEA8 !important; }
html[data-theme="dark"] .highlight .s { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .na { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .nb { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .n-Builtins { color: #4EC9B0 !important; }
html[data-theme="dark"] .highlight .nc { color: #DCDCAA !important; }
html[data-theme="dark"] .highlight .no { color: #9FB4C3 !important; }
html[data-theme="dark"] .highlight .nd { color: #DCDCAA !important; }
html[data-theme="dark"] .highlight .ni { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .ne { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .nf { color: #DCDCAA !important; }
html[data-theme="dark"] .highlight .nl { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .nn { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .nx { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .py { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .nt { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .nv { color: #9FB4C3 !important; }
html[data-theme="dark"] .highlight .ow { color: #569CD6 !important; }
html[data-theme="dark"] .highlight .pm { color: #D4D4D4 !important; font-weight: bold !important; }
html[data-theme="dark"] .highlight .mb { color: #B5CEA8 !important; }
html[data-theme="dark"] .highlight .mf { color: #B5CEA8 !important; }
html[data-theme="dark"] .highlight .mh { color: #B5CEA8 !important; }
html[data-theme="dark"] .highlight .mi { color: #B5CEA8 !important; }
html[data-theme="dark"] .highlight .mo { color: #B5CEA8 !important; }
html[data-theme="dark"] .highlight .sa { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .sb { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .sc { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .dl { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .sd { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .s2 { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .se { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .sh { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .si { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .sx { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .sr { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .s1 { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .ss { color: #CE9178 !important; }
html[data-theme="dark"] .highlight .bp { color: #D4D4D4 !important; }
html[data-theme="dark"] .highlight .fm { color: #DCDCAA !important; }
html[data-theme="dark"] .highlight .vc { color: #9FB4C3 !important; }
html[data-theme="dark"] .highlight .vg { color: #9FB4C3 !important; }
html[data-theme="dark"] .highlight .vi { color: #9FB4C3 !important; }
html[data-theme="dark"] .highlight .vm { color: #9FB4C3 !important; }
html[data-theme="dark"] .highlight .il { color: #B5CEA8 !important; }